
<body>
    <nav class="nav">
        <div class="container">
            <!-- <h2 class="logo">Financial Chat</h2> -->
            <ul>
                <!-- <h2 class="logo">Financial Chat</h2> -->
                <i style="font-size:larger;" class="fa-solid fa-right-from-bracket"></i>
                <i style="font-size:larger;" class="fa-sharp fa-solid fa-bell"></i>
                <i style="font-size:larger;" class="fa-solid fa-gear"></i>
            </ul>
    
        </div>
    
    </nav>
    </body>
    
    
